.caculate-part {
    margin: 15px;
    color: white;
}

.profile {
    display: flex;
}

.profile-img img {
    width: 50px;
    border-radius: 100%;
}

.profile-text {
    margin-left: 15px;
}

.profile-text h4,
p {
    margin: 0;
    padding: 0px;
}

.profile-info {
    display: flex;

}

.profole-info-part {
    margin:15px;
}

.profole-info-part h3,
p {
    margin: 0 0 5px 0;
    padding: 0;
}
.all-btn{
    background-color: azure;
    margin:5px;
    padding: 15px;
    border-radius: 15px;
}
.all-btn button{
    background-color: rgb(5, 155, 255);
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin:2px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.all-btn button:hover{
    background-color: rgb(51, 173, 255);
}
.all-btn button:focus{
    background-color:rgb(76, 0, 255);
}

.ex-details-part{
    background-color: azure;
    margin:5px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(15, 11, 11);
}

.btn-activity{
    margin-top: 20px;
}
.btn-activity button{
    width: 100%;
    background-color: rgb(5, 155, 255);
    padding: 10px 0px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.btn-activity button:hover{
    background-color:rgb(5, 255, 134);
}
