.item{
    background-color: rgb(255, 255, 255);
    border: 2px solid orange;
    border-radius: 5px;
    /* position: relative; */
}
.item img {
    width: 95%;
    
    padding: 7px;
    border-radius: 10px;
}
.bnt-add-to-list{
    /* position: absolute; */
}