.gym-container {
    background-color: rgb(229, 243, 254);
    display: grid;
    grid-template-columns: 4fr 1.2fr;
    gap: 50px;
    padding: 0 100px 0 100px;
}

.logo-part {
    display: flex;
    background-color: #6aac00;
    color: white;
}

.logo-part img {
    width: 50px;
    padding: 10px;
}

.gym-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.gym-calculate-container {
    /* background-color: #1E2B47; */
}

@media only screen and (max-width: 768px) {
    .gym-container {
        display: grid;
        grid-template-columns: 1fr .6fr;
        gap: 5px;
        padding: 0px;
    }


    .gym-item-container {
        /* max-width: 180px; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        /* border: 2px solid rgb(116, 218, 32);   */
    }

}

/* tablet */
@media only screen and (min-width: 768px) and (max-width:992px) {

    .gym-container {
        gap: 5px;
        padding: 2px;
    }

    .gym-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        border: 2px solid rgb(116, 218, 32);
    }

}